<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
	<meta charset="UTF-8"/>
	<title>List of Vets</title>
</head>
<body>
  	<!-- More of a hint for IntelliJ development environment; Not for Thymeleaf. -->
   	<!--/*@thymesVar id="vet" type="guru.springframework5.sfw5bgpetclinic.model.Vet"*/-->
	<h2>Veterinarians</h2>

	<table id="vets" class="table table-striped">
		<thead>
		<tr>
			<th>Name</th>
			<th>Specialties</th>
		</tr>
		</thead>
		<tbody>
		<!-- vets is the name of the property (a Set of Vets) added to the Model by the Controller. -->
		<!-- vet type is given above in comment showing full package -->
		<!-- th:each will iterate through the Set of Vets to display info about each. -->
		<tr th:each="vet : ${vets}">
			<td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
			<td><span th:each="specialty,iterStat : ${vet.specialties}" th:text="${specialty.description} + ${!iterStat.last ? ', ' : ''}"></span>
			    <span th:if="${vet.specialties.size() == 0}">none</span></td>
		</tr>
		</tbody>
	</table>
</body>
</html>
